
/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e2b83d;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "微软雅黑";
}

.wrap {
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}

.content {
    margin-top: 30px;
    -webkit-transition: padding .3s;
    transition: padding .3s;
    padding-left: 15px;
}

.mb-nav {
    width: 100%;
    margin-bottom: 30px;
}

.mb-blog-name {
    display: block;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.mb-item,
.no-data {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

a {
    outline: none;
    color: #333;
    text-decoration: none !important;
}

.mb-item a {
    display: block;
    padding: 0 20px;
    line-height: 30px;
    -webkit-transition: padding .3s;
}

.mb-item:hover a {
    /*padding-left: 30px;*/
}

.blog-time {
    font-size: 13px;
    float: right;
}

.left-side {
    position: fixed;
    width: 200px;
    top: 20px;
    bottom: 20px;
    left: 50px;
    margin: auto;
    z-index: 999;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: translate3d(-185px, 0, 0);
    transform: translate3d(-185px, 0, 0);
    cursor: pointer;
    overflow-y: auto;
}

.keys {
    margin-top: 30px;
}

.close {
    position: absolute;
    display: none;
    color: #eee;
    width: 30px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    text-align: center;
}

.close:hover {
    color: #FFF;
}

.keys li {
    display: block;
    color: #333;
    padding: 5px 10px;
    opacity: .8;
}

.keys li:hover {
    opacity: 1;
}

.keys .loading {
    opacity: .2 !important;
}
/*显示左边栏*/

.show-side .close {
    display: block;
}

.show-side .left-side {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.show-side .content {
    /*padding-left: 200px;*/
    width: 600px;
    margin: auto;
}

.hide {
    display: none;
}
#loader {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
}
.load3 {
    margin: 0;
}

@media screen and (max-width: 1120px){
    .left-side {
        display: none;
    }
    .show-side .content {
        width: 600px;
    }
}

@media screen and (min-width: 1120px){
    .show-side .content {
        width: 900px;
    }
}

.tools {
    position: fixed;
    right: 60px;
    bottom: 60px;
}
.tools > div {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    transition: all .5s;
}
#refresh {
    background: #fff url(./img/refresh.png) center center no-repeat;
    background-size: 50%;
}
#toTop {
    background: #fff url(./img/top.png) center center no-repeat;
    background-size: 50%;
}
#addRes {
    background: #fff url(./img/add.png) center center no-repeat;
    background-size: 50%;
}
#editRes {
    background: #fff url(./img/edit.png) center center no-repeat;
    background-size: 50%;
}
.tools > div:hover {
    opacity: .6;
    transform: scale(1.1)
}
.new {
    color: red !important;
}
#addPopCon {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(172, 172, 172, .8);
}
#addPop {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 480px;
    margin-left: -300px;
    margin-top: -240px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}
#addPop input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
    margin: 20px 0;
}